html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8rem;

}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Lora', serif;
}
/* vars */
:root {
  --primary: rgb(30, 30, 30);
  --secondary: white;
  --hover: rgb(255, 94, 0);
  --spacing-1: 1rem;
}

.h3 {
  margin: 0;
  text-align: center;
  padding: var(--spacing-1);
  font-size: 3.8rem;
  color: var(--primary);
}

.no-style {
  text-decoration: none;
  color: inherit;
}

.no-style:hover {
  color: var(--hover);
}

.contact-info, .home-intro {
  min-height: 70vh;
}

.btn-dark {
  margin-right: var(--spacing-1);
}
